<div class="container">
  <div class="jumbotron klm-color" >
    <h1>KLM Flight finder</h1>
    <p>Please enter your origin and destination below, and we will find you a flight</p>
  </div>
  <div class="row">
    <app-airport-search-box [flightSelection]="origin" class="col-sm"></app-airport-search-box>
    <app-airport-search-box [flightSelection]="destination" class="col-sm"></app-airport-search-box>
  </div>

  <div *ngIf="fare" class="container spacer">
    <h2>Flight found:</h2>
    <div class="card">
      <div class="card-header klm-color" style="opacity: 50%;">
          <p><strong>From: </strong>{{ fare.origin.description }}</p>
          <p><strong>To:</strong>{{ fare.destination.description }}</p>
      </div>
      <div class="card-body">
        <strong>Price: </strong>{{ fare.price.amount }} {{ fare.price.currency }}
      </div>
    </div>
  </div>

</div>
